<a href="https://colab.research.google.com/github/seongkai102/Divisibility-rule-by-FSM/blob/main/%EC%BD%94%EB%93%9C%EC%97%85_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = int(input())
b = [input() for i in range(a)]

for i in range(a):
  if i+1 == a:
    print(b[i])
  else:
    print(f'{b[i]}\nAMOLED')

2
AMOLED
AMOLED
AMOLED
AMOLED
AMOLED

In [ ]:
a = int(input())

b = sorted([input() for _ in range(a)])
output_count = len(b) // a

for i in range(a):
    print(b[i])

2
def
avc
avc
def

In [ ]:
a = [input() for i in range(int(input()))]
b = 0
for i in a:
  if len(i) <= 3 or ('tap' in i or 'xocure' in i):
    b+=1
    print(i)

print("safe" if b <= 3 else ("warning" if b <= 6 else "danger"))

8
windows tap
hi
microsoft office 2013
xocure web player
xecure safe
goclean
alyac
von
windows tap
hi
xocure web player
von
warning

In [ ]:
w,h,n = map(int, input().split())

matr = [input() for i in range(n)]

new_m = ''
for i in matr:
  for j in range(h):
    for k in range(len(i)):
      a = i[k]*w
      new_m+=a
    new_m+='\n'

print(new_m)

3 3 5
**_**_**_**_**
_**_**_**_**_**
__**_**_**_**_**
___**_**_**_**_**
____**_**_**_**_**
******___******___******___******___******
******___******___******___******___******
******___******___******___******___******
___******___******___******___******___******
___******___******___******___******___******
___******___******___******___******___******
______******___******___******___******___******
______******___******___******___******___******
______******___******___******___******___******
_________******___******___******___******___******
_________******___******___******___******___******
_________******___******___******___******___******
____________******___******___******___******___******
____________******___******___******___******___******
____________******___******___******___******___******

In [ ]:
print(*(input().split(',')))

4,52,600,-5,0
4 52 600 -5 0

In [ ]:
a = input().split(';')

for i in a:
    b = i.split(',')
    for j in b:
        c = j.split()
        print(f'{c[0]}',end=' ')
    print()

In [ ]:
a, b = map(int, input().split())

print("tie" if a == b else "win" if (a == 0 and b == 1) or (a == 1 and b == 2) or (a == 2 and b == 0) else "lose")

In [ ]:
a,b = map(int, input().split())
c = a // b

if c > 9999:
  print('번호 초과 오류')
else:
  for i in range(1,c+1):
    print(f"F-{i:04}")

19 6
f-0001
f-0002
f-0003

In [ ]:
a,b,c = map(int, input().split())

for i in range(c, 0, -1):
  if a % i == 0 and b % i == 0 and c % i == 0 :
    print(i)
    break

10 20 30
10

In [ ]:
a = sum([ int(i) for i in input() ])
print('Bad' if a % 7 == 4 else 'Good')

1234567890
Good

In [ ]:
a = int(input())
b = [int(input()) for i in range(a)]
c = sorted(b, reverse=True)

for i in b:
  print(c.index(i)+1)

3
100
90
90
1
2
2

In [ ]:
a,b = map(int, input().split())

print(f'+{"-"*(a-2)}+')
for i in range(b-2):
  print(f"|{' '*(a-2)}|")
print(f'+{"-"*(a-2)}+')

3 3
+-+
| |
+-+

In [ ]:
mat = [list(map(int, input().split())) for i in range(5)]

dir = [(-1, -1), (-1, 0), (-1, 1), (0, -1), (0, 1), (1, -1), (1, 0), (1, 1)]

cnt = []

for x in range(5):
  for y in range(5):
    c = []
    c.append(mat[x][y])
    for dx, dy in dir:
      nx, ny = x + dx, y + dy
      if 0 <= nx < 5 and 0 <= ny < 5:
        c.append(mat[nx][ny])
    cnt.append(sum(c))

print(max(cnt))

1 1 1 1 1
1 1 2 2 2
1 1 2 2 2
1 1 2 2 2
1 1 1 1 1
18
[4, 7, 8, 9, 6, 6, 11, 13, 15, 10, 6, 12, 15, 18, 12, 6, 11, 13, 15, 10, 4, 7, 8, 9, 6]

In [ ]:
n = int(input())

cnt = 0
for a in range(1, n):
    for b in range(a, n):
        c = n - (a + b)
        if c < b:
            break
        if b + a > c:
            print(f"{a} {b} {c}")
            cnt += 1
if cnt == 0:
    print("-1")

9
1 4 4
2 3 4
3 3 3

In [ ]:
for s in range(10):
    for o in range(10):
        for t in range(10):
            if len(set([s, o, t])) != 3:
                continue

            so = 10 * s + o
            too = 100 * t + 10 * o + o

            if so + so == too:
                print(f"{so}+{so}={too}")

50 + 50 = 100

In [ ]:
a = list(map(int, input().split()))
print(*a[::-1])

5 7 2
2 7 5

In [ ]:
b = list(map(int, input().split()))
a = ''.join(map(str, b))
print( f'{a} {a}' if int(b[1])% 2 == 0 else a)

2 2 14
2214 2214

In [ ]:
a = int(input())

hout = a // 3600
remaining_after_hours = a % 3600
mit = remaining_after_hours // 60
sec = remaining_after_hours % 60

print(hout, mit, sec)

3602
1 0 2

In [ ]:
a = input()
b = '20'+a[:2] if int(a[7]) > 2 else '19'+a[:2]
c =  'M' if int(a[7]) % 2 != 0 else 'F'
print(2013 - int(b) ,c)

020111 4421234
11 F

In [ ]:
a = input()
b = a.count('3') + a.count('6') + a.count('9')
print(a if b ==0 else 'K' if b==1 else 'KK' if b==2 else 'KKK')

93
KK

In [ ]:
a = list(map(int, input().split()))
b = f'{sum(a)/len(a):.01f}'
c,d=0,0
for i in a:
  if i >= float(b):
    c+=1
  else:
    d+=1

print(f'{b}\n{c} {d}')

0 0 0 0 0 0 0 0 0 0
0.0
10 0

In [ ]:
z = input()
a = list(map(int, input().split()))
b = sorted(a, reverse=True)

for i in a:
  print(i,b.index(i)+1)

97 65 84 84 91
97 65 84 84 91
97 1
65 5
84 3
84 3
91 2

In [ ]:
a = input()
print(*sorted(list(map(int, input().split())), reverse=True))

7
51 44 81 1 9 12 25
81 51 44 25 12 9 1

In [ ]:
#1711
x1, y1 = map(int, input().split())
x2, y2 = map(int, input().split())
x3, y3 = map(int, input().split())

max_x = max(x1, x2)
max_y = max(y1, y2)

matrix = [[0] * (max_y + 1) for _ in range(max_x + 1)]

# 사각형 그리기
for x in range(min(x1, x2), max(x1, x2) + 1):
    for y in range(min(y1, y2), max(y1, y2) + 1):
        matrix[x][y] = 1

print('비충돌' if x3 > max_x or y3 > max_y else '충돌' if matrix[x3][y3] == 1  else '비충돌')

10 3
15 8
1 1
비충돌

In [ ]:
a,b,c = map(int, input().split())
print(*[i for i in range(a,c+1,b-a)])

1 3 40
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39

In [ ]:
a, b = map(int, input().split())

x,y = 0,0
for i in range(a,b+1):
  if i % 3 == 0 and i % 4 == 0:
    pass
  elif i % 3 == 0:
    x+=i
  elif i % 4 == 0:
    y+=i

print(x-y)

3 16
5

In [ ]:
print(input()[::-1])

123456
654321

In [ ]:
from math import gcd

a, b = map(int, input().split())
g = gcd(a, b)
print(a // g, b // g)

2802 9628
1401 4814

In [ ]:
a, b = map(int, input().split())

c = 0
for i in range(1, a):
  if i % 2 == 0:
    c+=30
  else:
    c+=31


print(306-c+b)

10 29
60

In [ ]:
a, b = map(int, input().split())

c = 0
for i in range(1, a):
    if i % 2 == 0:
        c += 30
    else:
        c += 31

print(305 - (c + (b - 1))-1)

10 29
1

305

In [ ]:
a = input()
C = int(a[a.find('C')+1:a.find('H')]) if a[a.find('C')+1] != 'H' else 1
H = int(a[a.find('H') + 1:]) if a.find('H') != -1 and a[a.find('H') + 1:].isdigit() else 1
print(C*12+H*1)

C12H12
156

In [ ]:
a = int(input())
b = [list(map(int, input().split())) for i in range(a)]

c = True
for i in range(a):
  if min(b[i][0:3]) != b[i][-1]:
    print(i+1, min(b[i][0:3]))
    c = False
    break

if c:
  print(-1)

3
3 5 8 3
3 9 8 8
8 3 9 3
2 3

In [ ]:
import math
z = input()
x1, y1 = map(int, input().split())

x2, y2 = map(int, input().split())

x3, y3 = map(int, input().split())

distance1 = math.sqrt((x2 - x1)**2 + (y2 - y1)**2)
distance2 = math.sqrt((x3 - x2)**2 + (y3 - y2)**2)
print(f"{distance1+distance2:.2f}")

In [ ]:
import math
a = int(input())
b = [list(map(int, input().split())) for _ in range(a)]

distance = 0
for i in range(len(b)-1):
  distance += math.sqrt((b[i][0] - b[i+1][0])**2 + (b[i][1] - b[i+1][1])**2)

print(f'{distance:.02f}')

3
0 0
3 4
6 0
10.00

In [ ]:
print('special characters')
print('[\\n,\\",\\\\] is very important.')

special characters
[\n,\",\\] is very important.

In [ ]:
a, b = map(int, input().split())
print(f'{a/b:.1f}\n{a//b}\n{a**b}')

4 3
1.3
1
64

In [ ]:
print('IOI is the International Olympiad in Informatics.' if input() == 'IOI' else 'I don\'t care.')

IOI
IOI is the International Olympiad in Informatics.

In [ ]:
print('welcome! ' +  input())

anaki
welcome! anaki

In [ ]:
a = int(input())

date = a// 86400
hout = (a-86400*date) // 3600
remaining_after_hours = a % 3600
mit = remaining_after_hours // 60
sec = remaining_after_hours % 60

print(date ,hout, mit, sec)

	 302090
3 11 54 50

In [ ]:
print(len(input()))

black sheep wall
16

In [ ]:
print(input()[::-1])

KAIST
TSIAK

In [ ]:
b = [input() for i in range(int(input()))]
for i in b:
  print(i[::-1])

3
taehyeon
hyeonmin
sera
noeyheat
nimnoeyh
ares

In [ ]:
a = list(map(int, input().split()))
print(min(a), max(a))

9999999999999999999999999 9999999999999999999999998
9999999999999999999999998 9999999999999999999999999

In [ ]:
a =  {
    "dib": "Paint.Picture",
    "doc": "Word.Document.8",
    "docx": "Word.Document.12",
    "htm": "htmfile",
    "html": "htmlfile",
    "hwp": "Hwp.Document.96",
    "hwpx": "Hwp.Document.hwpx.96",
    "hwt": "Hwp.Document.hwt.96",
    "jpe": "jpegfile",
    "jpeg": "jpegfile",
    "jpg": "jpegfile",
    "ppt": "PowerPoint.Show.8",
    "pptx": "PowerPoint.Show.12",
    "pptxml": "powerpointxmlfile"
}

print(a[input().split('.')[-1]])

codeup.pptx
PowerPoint.Show.12

In [ ]:
a = input()
b = {a[i]: i for i in range(len(a))}
c = input().split()
for i in c:
  for j in range(len(i)):
    print(f'{b[i[j]]}', end = '')
  print('', end = ' ')

lohcgpdabk
lol abk abk
010 789 789

In [ ]:
a = sorted(
    [list(map(int, input().split())) for _ in range(int(input()))],
    key=lambda x: x[0]
)
for i in a:
  print(*i)

3
2 10
3 20
1 30
1 30
2 10
3 20

In [ ]:
def ubs(n, hs = 1):
  if n == 1:
    return hs
  elif n % 2 == 0:
    hs += 1
    return ubs(n//2, hs)
  else:
    hs += 1
    return ubs((3*n+1), hs)

a, b=map(int, input().split())

c = []
for i in range(a, b+1):
  c.append((i, ubs(i)))

print(*max(c, key = lambda x: x[1]))

1 10
9 20

In [ ]:
def h():
    print("Hello, world!", end=" ")

def q(code):
    print(code, end=" ")

def b():
    for i in range(99, 2, -1):
        print(f"{i} bottles of beer on the wall, {i} bottles of beer.")
        print(f"Take one down and pass it around, {i-1} bottles of beer on the wall.")
    print("2 bottles of beer on the wall, 2 bottles of beer.")
    print("Take one down and pass it around, 1 bottle of beer on the wall.")
    print("1 bottle of beer on the wall, 1 bottle of beer.")
    print("Take one down and pass it around, no more bottles of beer on the wall.")
    print("No more bottles of beer on the wall, no more bottles of beer.")
    print("Go to the store and buy some more, 99 bottles of beer on the wall.")

def main():
    code = input()
    for char in code:
        if char == 'H':
            h()
        if char == 'Q':
            q(code)
        if char == '9':
            b()

if __name__ == "__main__":
    main()

In [ ]:
a = input()
b,c = map(int, input().split())
print(a[b-1:c])

abcde
1 3
abc

In [ ]:
def a(a):
  return '*'*a

print(a(int(input())))

3
***

In [ ]:
def print_numbers(n,i=1):
    if i > n:
        return
    else:
        print(i, end = ' ')
        return print_numbers(n, i+1)

print_numbers(int(input()))

10

55

In [ ]:
def print_numbers(n,i=1,b=[]):
    if i > n:
        return sum(b)
    else:
        b.append(i)
        return print_numbers(n, i+1, b)

print(print_numbers(int(input())))

10
55

In [ ]:
print(sum(map(int, input())))

1234
10

In [ ]:
def fib(n):
    if n == 0:
        return 0
    elif n == 1 or n == 2:
        return 1
    else:
        return fib(n - 1) + fib(n - 2)

print(fib(int(input())))

6
8

In [ ]:
def count_ways(n):
    if n == 1:
        return 1
    elif n == 2:
        return 2
    elif n == 3:
        return 4
    else:
        return count_ways(n - 3) + count_ways(n - 2) + count_ways(n - 1)

n = int(input())
print(count_ways(n))

3
4

In [ ]:
import math
a,b = map(int, input().split())
print(math.comb(a,b))

In [ ]:
def pascal(n, k):
    if k == 0 or k == n:
        return 1
    return pascal(n-1, k-1) + pascal(n-1, k)

n, k = map(int, input().split())
print(pascal(n-1, k-1))

5 3
6

In [ ]:
def star(n,b=1):
  print('*'*b)
  if b == n:
    return ''
  return star(n,b+1)


print(star(int(input())))

5
*
**
***
****
*****

In [ ]:
def sp(n, b=[1]):

  print(*b)
  if len(b) == n:
    return ''
  b.append(b[-1]+1)
  return sp(n, b)

print(sp(int(input())))

5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
#1861
def pascal_triangle(n, row=0, col=0):
    if row == n:
        return ''
    if col > row:
        print()
        return pascal_triangle(n, row + 1, 0)
    print(1 if col == 0 or col == row else pascal_triangle_value(row, col), end=" ")
    return pascal_triangle(n, row, col + 1)

def pascal_triangle_value(row, col):
    if col == 0 or col == row:
        return 1
    return pascal_triangle_value(row - 1, col - 1) + pascal_triangle_value(row - 1, col)

num_rows = int(input())
print(pascal_triangle(num_rows))

5
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1

In [ ]:
#1862
MOD = 1000000007

def fibonacci(n, memo={1: 1, 2: 1}):
    if n in memo: #종료 코드
        return memo[n]
    memo[n] = (fibonacci(n - 1, memo) + fibonacci(n - 2, memo)) % MOD
    # print(f"n = {n}, memo = {memo}")
    return memo[n] #중간 상태 저장 (if문이 실행되기 전까지)

n = int(input())
print(fibonacci(n))

67
569898238

In [ ]:
def hs(a,b=1,c=[]):
  if b>a:
    return c
  c.append(b)
  return hs(a,b+1,c)

a = int(input())
print(sum(hs(a)))

100
5050

In [ ]:
import sys

sys.setrecursionlimit(100000)

def hs(a, b=0):
    if a == 0:
        return b
    return hs(a - 1, b + a)

a = int(input())
print(hs(a))

In [ ]:
def fac(n):
  if n ==0:
    return 1
  return n*fac(n-1)

print(fac(int(input())))

5
120

In [ ]:
def fib(n):
    if n == 0:
        return 0
    elif n == 1 or n == 2:
        return 1
    else:
        return fib(n - 1) + fib(n - 2)

print(fib(int(input())))

7
13

In [ ]:
from functools import lru_cache

@lru_cache(None)
def fib(n):
    if n == 0:
        return 0
    elif n == 1 or n == 2:
        return 1
    else:
        return fib(n - 1) + fib(n - 2)

print(fib(int(input())) % 10009)

151
3081

In [ ]:
import sys
sys.setrecursionlimit(100000)

def ss(base, exponent):
    if exponent == 0:
        return 1
    if exponent % 2 == 0:
        half_result = ss(base, exponent // 2)
        return half_result * half_result
    else:
        return base * ss(base, exponent - 1)

base, exponent = map(int, input().split())
print(ss(base, exponent))

In [ ]:
print(int(input()[::-1]))

1200

21

In [ ]:
print(bin(int(input()))[2:])

7
111

In [ ]:
def to_base_recursive(n, k):
    return (to_base_recursive(n // k, k) if n >= k else '') + "0123456789ABCDEF"[n % k]

n, k = map(int, input().split())
print(to_base_recursive(n, k))

14 16
E

In [ ]:
def hc(a, hs=1):
    return hs if a == 1 else hc(3*a + 1 if a % 2 else a // 2, hs + 1)

a = int(input())
print(hc(a))

21
8

In [ ]:
import math
a,b = map(int, input().split())
print(math.comb(a,b))

TypeError: 'str' object is not callable

In [ ]:
def hc(a, hs=[]):
  hs.append(a)
  return hs if a == 1 else hc(3*a + 1 if a % 2 else a // 2, hs)

a = int(input())
print(hc(a))

5
[5, 16, 8, 4, 2, 1]

In [ ]:
def hc(a, hs=[]):
  hs.append(a)
  return hs if a == 1 else hc(3*a + 1 if a % 2 else a // 2, hs)

def pp(a = hc(int(input())), hs=0):

    if len(a) == hs:
        return ''
    print(a[-(hs + 1)])
    return pp(a, hs + 1)

print(pp())

TypeError: 'str' object is not callable

In [ ]:
import sys
from functools import lru_cache

@lru_cache(None)
def SuperSum(k, n):
    if k == 0:
        return n
    return sum(SuperSum(k - 1, i) for i in range(1, n + 1))

#input = sys.stdin.read()
data = input.split()

i = 0
while i < len(data):
    k = int(data[i])
    n = int(data[i + 1])
    print(SuperSum(k, n))
    i += 2

In [ ]:
def find_lca(a, b):
    if a == b:
        return a
    if a > b:
        return find_lca(a // 2, b)
    return find_lca(a, b // 2)


a, b = map(int, input().split())

print(find_lca(a, b))

In [ ]:
def find_lca(a, b, hs=0):
    if a == b:
        return hs
    if a > b:
        return find_lca(a // 2, b,hs+1)
    return find_lca(a, b // 2,hs+1)


a, b = map(int, input().split())

print(find_lca(a, b))

3 4
3

In [ ]:
def see(a,b=1):
  print('*'*b)
  if b == a:
    return ''
  return see(a,b+1)

print(see(int(input())))

3
*
**
***

In [ ]:
def see(a):
  print('*'*a)
  if a == 1:
    return ''
  return see(a-1)

print(see(int(input())))

3
***
**
*

In [ ]:
def L(n):
  line = 1+(n*(n+1)//2)
  return line

print(L(2)%137)

4

In [ ]:
n = int(input())
print(1+(n*(n+1)//2)%137)

3
7

In [ ]:
(700+198)+((700+198))*(10/100)
a = [int(input()) for i in range(3)]
b = [int(input()) for i in range(2)]

987.8

In [ ]:
#2001
a = [int(input()) for i in range(3)]
b = [int(input()) for i in range(2)]

c = []
for i in b:
  for j in a:
    c.append((i + j) + ((i + j) * (10 / 100)))

print(f'{min(c):.01f}')

800
700
900
198
330
987.8

In [ ]:
#2002
k = int(input())
a = input()
b = {'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6, 'G': 7, 'H': 8, 'I': 9, 'J': 10, 'K': 11, 'L': 12, 'M': 13, 'N': 14, 'O': 15, 'P': 16, 'Q': 17, 'R': 18, 'S': 19, 'T': 20, 'U': 21, 'V': 22, 'W': 23, 'X': 24, 'Y': 25, 'Z': 26}

def get_key_from_value(dictionary, value):
    for key in dictionary:
        if dictionary[key] == value:
            return key
    return None

for i in range(1,len(a)+1):
  s = 3*i+k
  next = (b[a[i-1]] - s)+26 if b[a[i-1]] - s < 1 else b[a[i-1]] - s
  print(get_key_from_value(b, next),end = '')

In [ ]:
a = ['*x*', ' xx','* *']
b = int(input())
c = []
for i in a:
  for j in range(b):
    print(f'{i[0]*b}{i[1]*b}{i[2]*b}')

3
***xxx***
***xxx***
***xxx***
   xxxxxx
   xxxxxx
   xxxxxx
***   ***
***   ***
***   ***

In [ ]:
#2007
a = int(input())
b = list(map(int, input().split()))

srt, n_srt = False, False
for i in range(len(b)-1):
  if b[i] < b[i+1]:
    srt = True
  elif b [i] > b[i+1]:
    n_srt = True


print('섞임' if srt == True and n_srt == True else '오름차순' if srt else '내림차순')
srt,n_srt

1
2992 444 123 111 74 33333
섞임

(True, True)

In [ ]:
#2008
a = int(input())
b = list(map(int, input().split()))

srt, n_srt = False, False
for i in range(len(b)-1):
  if b[i] < b[i+1]:
    srt = True
  elif b [i] > b[i+1]:
    n_srt = True
  else:
    pass

print('섞임' if srt == True and n_srt == True or len(set(b)) == 1 else '오름차순' if srt else '내림차순')

3
4 4 4
섞임

In [ ]:
#2004
# 입력
rows, cols = map(int, input().split())
cell_rows, cell_cols = map(int, input().split())

# 체크보드 생성
for i in range(rows):
    for k in range(cell_rows):
        line = []
        for j in range(cols):
            if (i + j) % 2 == 0:
                line.append('X' * cell_cols)
            else:
                line.append('.' * cell_cols)
        print(''.join(line))

In [ ]:
#2005

n = int(input())
a = list(map(int, input().split()))
m = int(input())

is_residue_system = True

for i in range(n):
    for j in range(i + 1, n):
        if abs(a[i] - a[j]) % m == 0:
            print('no')
            is_residue_system = False
            break
    if not is_residue_system:
        break

if is_residue_system:
    print('yes')

7
22 5 648 40 334 246 97
9
no

In [ ]:
#2006
a, b, c, d, s = [int(input()) for _ in range(5)]

def dist(a, b, s):
    q, r = divmod(s, a + b)
    res = q * (a - b) + min(r, a) - (r - a if r > a else 0)
    return res

nd = dist(a, b, s)
bd = dist(c, d, s)

print("Tied" if nd == bd else "Nikky" if nd > bd else "Byron")

4
2
5
3
12
Byron

In [ ]:
a, b = map(int, input().split())

ame = 0

while a >= b:
    new_ame = a // b
    ame += new_ame
    a = a % b + new_ame

print(ame)

10 3
4

In [ ]:
b, n = map(int, input().split())

a = round(b ** (1 / n))

candidates = [a, a - 1, a + 1]

print(min(candidates, key=lambda x: abs(b - x ** n)))

1000000 9
4
4

In [ ]:
for star in range(1, 10):
    for tri in range(0, 10):
        for sqa in range(0, 10):
            left = star * 100 + tri * 10 + sqa
            right = star * 10 + tri
            if left - right == sqa * 10 + sqa:
                print(f"{left}-{right}={sqa * 10 + sqa}")

109 - 10 = 99

In [ ]:
#2016
a = int(input()) // 3
b = input()[::-1]

c = [b[3*i:3*i+3] for i in range(a)]
if b[3*a:]:
    c.append(b[3*a:])

d = ','.join([i[::-1] for i in c[::-1]])

print(d)

8
12421421
12,421,421

In [ ]:
#2043
word = input()

fst = word[0].upper()

map = {
    'b': '1', 'f': '1', 'p': '1', 'v': '1',
    'c': '2', 'g': '2', 'j': '2', 'k': '2', 'q': '2', 's': '2', 'x': '2', 'z': '2',
    'd': '3', 't': '3',
    'l': '4',
    'm': '5', 'n': '5',
    'r': '6'
}

enc = []
prev = None
for ch in word[1:].lower():
    if ch in "aehiouwy":
        prev = None
        continue
    dig = map.get(ch, '')
    if dig != prev or prev is None:
        enc.append(dig)
        prev = dig

res = fst + ''.join(enc)

print(res[:4].ljust(4, '0'))

Codeup
C310

In [ ]:
a, b = map(int, input().split())

for i in range(a, b+1):
  count = sum(1 for digit in str(i) if digit in '369')
  if count > 0:
      print('K' * count)
  else:
      print(i)

3 16
K
4
5
K
7
8
K
10
11
12
K
14
15
K

In [ ]:
a, b = map(int, input().split())
c = sum([1 for i in range(a, b+1) for j in range(len(str(i))) if str(i)[j] == '1'])
print(c)

9 13
5

In [ ]:
#2019
import math

a,b,c = map(int, input().split())

d = b**2 - 4*a*c

if d > 0:
    x1 = (-b + math.sqrt(d)) / (2*a)
    x2 = (-b - math.sqrt(d)) / (2*a)
    print(f"{x1:.02f}\n{x2:.02f}")
elif d == 0:
    x = -b / (2*a)
    print(f'{x:.02f}')
else:
    real_part = -b / (2*a)
    imaginary_part = math.sqrt(-d) / (2*a)
    print(f"{real_part:.02f}+{imaginary_part*-1 if imaginary_part < 0 else imaginary_part:.02f}i\n{real_part:.02f}-{imaginary_part*-1 if imaginary_part < 0 else imaginary_part:.02f}i")

-9 -8 -4
-0.44+0.50i
-0.44-0.50i

In [101]:
#2364
n = int(input())
print((n + 4) // 5 , 150000*(n//5))

6
2 150000

In [ ]:
#2379
n = int(input()) * 10
c = 0
for i in [25, 15, 10]:
    c += n // i
    n %= i
print(c+1 if n > 0 else c)

9
4

In [89]:
#2621
a =int(input())
print(sum([i for i in range(1,a+1) if a % i ==0]))

10
18

In [104]:
#2640
a,b = map(int, input().split())
print(pow(a,b,1000000007))

4 2
16

In [120]:
#2624 해결 실패!
a = int(input())

10
17

[0, 2, 3, 6, 5, 11, 7, 14, 12, 17]

In [ ]:
#2793
n = int(input())
tasks = [tuple(map(int, input().split())) for _ in range(n)]

tasks.sort(key=lambda x: x[1], reverse=True)

latest_start = float('inf')

for start, end in tasks:
    if latest_start > end:
        latest_start = end
    latest_start -= 1

print(latest_start+1)

4
6 7
1 4
5 5
2 6
4

In [ ]:
#3110 (큐)
from collections import deque as d

n,k=map(int,input().split())
q=d(range(1,n+1))

q.popleft() #첫번째값 삭제  FIFO(First In, First Out)
while len(q)>1:q.rotate(-((k-1)%len(q)));q.popleft()

print(q[0])

In [81]:
#3301

a = int(input())
b = [50000, 10000,5000,1000,500,100,50,10]

c = 0
for i in b:
  c += a//i
  a %= i

print(c)

54520
8

In [ ]:
#4011
a = input()
b = '20' + a[0:2] if int(a[7]) > 2 else '19' + a[0:2]
print(f"{b}/{a[2:4]}/{a[4:6]} {'F' if int(a[7]) % 2 == 0 else 'M'}")

781201-1273845
1978/12/01/ M

In [80]:
#4012
a = input()
b =list(map(int, input().split()))
c = sorted(b, reverse=True)
for i in b:
  print(i, c.index(i)+1)

10
60 34 55 100 90 76 60 90 80 87
60 7
34 10
55 9
100 1
90 2
76 6
60 7
90 2
80 5
87 4

In [ ]:
#4026
a = sorted(list(map(int, input().split())))
mid = len(a)//2
print(a[mid] if len(a) % 2 != 0 else ( a[mid-1] + a[mid]) / 2)

58 35 77 59 68
59

In [ ]:
#4031
a = list(map(int, input().split()))

b = [i for i in a if i % 2 == 0] + [0]
c = [i for i in a if i % 2 != 0] + [0]

print(max(b)+max(c))

1 1 1 1
1

In [ ]:
#4036
n = int(input())
m = int(input())
print(f'{(n + m) // 2}\n{(n - m) // 2}')

1998
0

[]

In [ ]:
#4038 이해 못함
import math

def heron_area(x1, y1, x2, y2, x3, y3):
    a = math.sqrt((x2 - x1) ** 2 + (y2 - y1) ** 2)
    b = math.sqrt((x3 - x2) ** 2 + (y3 - y2) ** 2)
    c = math.sqrt((x1 - x3) ** 2 + (y1 - y3) ** 2)
    s = (a + b + c) / 2
    return math.sqrt(s * (s - a) * (s - b) * (s - c))

def intersection(x1, y1, x2, y2):
    if y1 * y2 < 0:  # 두 점이 수면을 기준으로 다른 쪽에 있을 때
        return x1 - y1 * (x2 - x1) / (y2 - y1), 0
    return None

def calculate_area_above_surface(x1, y1, x2, y2, x3, y3):
    points = []
    if y1 > 0:
        points.append((x1, y1))
    if y2 > 0:
        points.append((x2, y2))
    if y3 > 0:
        points.append((x3, y3))

    i1 = intersection(x1, y1, x2, y2)
    if i1:
        points.append(i1)

    i2 = intersection(x2, y2, x3, y3)
    if i2:
        points.append(i2)

    i3 = intersection(x3, y3, x1, y1)
    if i3:
        points.append(i3)

    if len(points) < 3:
        return 0

    points = sorted(points, key=lambda p: (p[0], p[1]))  # 점들을 정렬
    area = heron_area(points[0][0], points[0][1], points[1][0], points[1][1], points[2][0], points[2][1])

    return round(area)

# 입력 받기
x1, y1 = map(int, input().split())
x2, y2 = map(int, input().split())
x3, y3 = map(int, input().split())

# 결과 출력
print(calculate_area_above_surface(x1, y1, x2, y2, x3, y3))

-4 -1
6 -3
3 6
[(-3.0, 0), (3, 6), (5.0, 0)]
24

In [85]:
#4041
a = list(input())
print(f'{int("".join(a[::-1]))}\n{sum(map(int,a))}')

#####################GPT

a = input()[::-1]
print(f'{int(a)}\n{sum(map(int,a[::-1]))}')

320
23
5

In [ ]:
#4045
def count_ways(n, m):
    print(n,m)
    if n == 0:
        return 1
    if n < 0 or m == 0:
        return 0
    return count_ways(n, m - 1) + count_ways(n - m, m)  # m명을 포함하지 않는 경우 + m명을 포함하는 경우

n, m = map(int, input().split())
print(count_ways(n, m))

In [ ]:
#4085
m, n, x, y = map(int, input().split())
matrix = [list(map(int, input().split())) for _ in range(n)]

max_fertility = 0

for i in range(n):
    for j in range(m):
        if i + y <= n and j + x <= m:
            current_fertility = sum(matrix[i+a][j+b] for a in range(y) for b in range(x))
            max_fertility = max(max_fertility, current_fertility)

print(max_fertility)

10 3 2 2
10 15 11 24 55 21 10 19 14 10
10 12 19 19 44 39 24 15 14 11
10 77 66 50 50 50 40 35 25 15
183

In [ ]:
#4506

a,b = map(int, input().split())

for i in range(min(a,b), 0,-1):
  if a%i==0 and b%i==0 :
    print(i)
    c = i
    break

d = min(a,b)
while True:
  if d%a==0 and d%b==0 :
    print(d)
    break
  d+=c

24 18
6
72

In [ ]:
#4506
a = [int(input()) for i in range(9)]
b = max([(i+1,j) for i,j in enumerate(a)], key=lambda x: x[1])
print(f'{b[1]}\n{b[0]}')

In [68]:
#4531
a = [int(input()) for i in range(5)]
print(f'{sum(a)//5}\n{sorted(a)[2]}')

10
40
30
60
30
170
30

In [ ]:
#4681
a = list(map(int, input().split()))
b = sum([i**2 for i in a])
print(b%10)

0 4 2 5 6
1

In [ ]:
#4891
a = input()
b = list(map(int, input().split()))
print(max(b)-min(b))

5
27 35 92 75 42
65

In [ ]:
#4991

a = [int(input()) for i in range(int(input()))]

mxc, vis = 0,0
for i in reversed(a):
  if i > mxc:
    mxc = i
    vis +=1

print(vis)

10
3
4
5
5
4
1
2
3
4
1
3

In [21]:
#2030
a = [['.'] * 60 for _ in range(30)]

for _ in range(int(input())):
    cmd = input().split()
    name, x1, y1, x2, y2 = cmd[0], int(cmd[1]) - 1, int(cmd[2]) - 1, int(cmd[3]) - 1, int(cmd[4]) - 1

    # 윈도우 상단 테두리
    a[y1][x1] = '+'
    for j in range(x1 + 1, min(x2, x1 + len(name) + 1)):
        a[y1][j] = name[j - x1 - 1]
    for j in range(x1 + len(name) + 1, x2):
        a[y1][j] = '-'
    a[y1][x2] = '+'

    # 윈도우 중간 부분
    for i in range(y1 + 1, y2):
        a[i][x1] = '|'
        for j in range(x1 + 1, x2):
            a[i][j] = ' '
        a[i][x2] = '|'

    # 윈도우 하단 테두리
    a[y2][x1] = '+'
    for j in range(x1 + 1, x2):
        a[y2][j] = '-'
    a[y2][x2] = '+'

# 결과 출력
for row in a:
    print("".join(row))

1
ie9 2 3 15 6
............................................................
............................................................
.+ie9---------+.............................................
.|            |.............................................
.|            |.............................................
.+------------+.............................................
............................................................
............................................................
............................................................
............................................................
............................................................
............................................................
............................................................
............................................................
............................................................
............................................................
............................................................
............................................................
............................................................
............................................................
............................................................
............................................................
............................................................
............................................................
............................................................
............................................................
............................................................
............................................................
............................................................
............................................................

In [50]:
#2044
a = input()
a = list(a[a.rfind('C') + 1:])

while 'A' in a or 'B' in a:
    if 'B' in a and a.index('B') <= a.index('A'):
        idx = a.index('B')
        del a[idx-2:idx+1]
    elif 'A' in a:
        idx = a.index('A')
        del a[idx-1:idx+1]

print("".join(a))

011B1C11A122B11A
111

In [57]:
# 2081
a = [input() for i in range(9)]
b = [(i+1,j) for i,j in enumerate(a)]
c = max(b, key=lambda x: x[1])
print(f'{c[1]}\n{c[0]}')

1
9
9
2

In [65]:
n,k = map(int, input().split())
c = list(map(int, input().split()))
print(c.index(k)+1 if k in c else -1)

5 3
5 2 9 7 3
5